<div class="p-8 bg-white rounded-lg shadow-lg">
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-3xl font-bold">{{ 'CATEGORY_MANAGEMENT' | translate }}</h1>
        <input type="text" placeholder="{{ 'SEARCH_CATEGORY' | translate }}" [(ngModel)]="searchQuery"
            (input)="onSearch()" class="border rounded p-2 w-1/3" />
        <button routerLink="/categories/add"
            class="text-white bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded transition duration-300 flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-4 h-4 mr-2">
                <path
                    d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z" />
            </svg>
            {{ 'ADD_CATEGORY' | translate }}
        </button>
    </div>

    <table class="w-full border-collapse border border-gray-300 rounded-lg overflow-hidden">
        <thead>
            <tr class="bg-gray-100">
                <th class="p-4 border">ID</th>
                <th class="p-4 border">{{ 'NAME' | translate }}</th>
                <th class="p-4 border">{{ 'ACTIONS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories" class="hover:bg-gray-50 transition duration-300">
                <td class="p-4 border">{{ category.id }}</td>
                <td class="p-4 border">{{ category.name }}</td>
                <td class="p-4 border flex space-x-2">
                    <button (click)="editCategory(category)"
                        class="text-green-500 hover:text-green-700 transition duration-300">{{ 'EDIT' | translate
                        }}</button>
                    <button (click)="deleteCategory(category.id, category.name)"
                        class="text-red-500 hover:text-red-700 transition duration-300">{{ 'DELETE' | translate
                        }}</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="mt-6">
        <pagination-controls (pageChange)="onPageChange($event)" [previousLabel]="previousLabel" [nextLabel]="nextLabel"
            class="flex justify-center"></pagination-controls>
    </div>
</div>